/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    /*
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    */
    scroll-behavior: auto !important;
  }
}

/* Text */
/* Background Gradient */
/* Text */
/* Dividers */
/* font */
.sr-only {
  position: absolute;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #6565e7), to(#af67e9));
  background: linear-gradient(0, #6565e7 0%, #af67e9 100%);
  background-color: #af67e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main {
  width: 90%;
  max-width: 37.5rem;
  background-color: white;
  border-radius: 20px;
  margin: 9.375rem auto 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-art {
  display: none;
}

.mobile-illu {
  position: absolute;
  width: 15rem;
  top: -6.875rem;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 1.875rem 0;
}

p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #787887;
}

h2 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #4a4b5e;
}

.qna-container {
  margin-bottom: 2.5rem;
  width: 80%;
}

.qna-items {
  margin: auto;
  padding: 0.625rem 0;
  border-bottom: solid 2px #e7e7e9;
  max-width: 400px;
}

.qna-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.625rem;
  margin: auto 0;
}

.qna-question h2,
.qna-question img {
  display: inline-block;
}

.qna-question img {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  padding: 0.3125rem;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.qna-answer {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin: 1.5625rem auto;
  color: #1d1e35;
}

.attribution a {
  color: #f47c57;
  font-weight: 700;
}

.hover-event {
  cursor: pointer;
}

.hover-event:hover h2 {
  color: #f47c57;
  font-weight: 700;
}

.hover-event:hover img {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.hover-event:hover .qna-answer {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: unset;
}

.dropdown h2 {
  font-weight: 700;
}

.dropdown img {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.dropdown .qna-answer {
  opacity: 1;
  height: auto;
  overflow: auto;
  padding-bottom: 0.625rem;
}

@media only screen and (min-width: 950px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 55.625rem;
    max-width: 55.625rem;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: 750% 70%;
    background-repeat: no-repeat;
  }
  .illu-div {
    overflow: hidden;
  }
  .desktop-art {
    display: unset;
  }
  .desktop-illu {
    position: relative;
    left: -15%;
    bottom: 20%;
  }
  .desktop-box {
    position: absolute;
    top: 40%;
    left: -10%;
    overflow: visible;
  }
  .desktop-bg {
    display: none;
    position: relative;
  }
  .mobile-art {
    display: none;
  }
  h1 {
    text-align: left;
  }
  .qna-container {
    margin: 0;
    padding: 3.125rem 5rem 5rem 0;
    max-width: 25rem;
  }
  .qna-question {
    margin: auto;
  }
  .qna-items {
    margin: unset;
  }
}
/*# sourceMappingURL=style.css.map */